{% extends "navbar.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="">
   
    <div class="row " style="padding: 100px; background-image: url('{% static "bg.jpg" %}'); background-size: cover;
    background-repeat: no-repeat; ">
        <div class="col-md-6">
            <img src="{{ object.image.url }}" alt="Book Image" style="box-shadow: white;width: 40%;">
        </div>
        <div class="col-md-6 text-white">
            <h5>Book name : {{object.title}}</h5>
            <h6>Author : {{object.Author.name}}</h6>
            <h6>Description : {{object.description}}</h6>
            <h6>Borrowing price : {{object.borrowing_price}}</h6>
            {% if request.user.is_authenticated %}
            <a class="btn btn-warning" href="{% url 'borrow' id=object.id %}" style="text-align: center;">Borrow</a>
            {% else %} <p style="background-color: aqua;">Log in to borrow this book</p>
            {% endif %}
        
            
        </div>
        
        
        <div class="d-flex p-5">
            {% if review_form %}
        <div class="card m-2 w-75" style="background-color: chocolate;">
            <div class="card-body">
                <h2>Add review: </h2><br><br>
              <form action=""  method="post" style="width: 40%;margin: auto;">
                {% csrf_token %}
                    {{review_form | crispy}}
                    <button class="btn btn-warning">Submit</button>
                </form>
            </div>
        </div>
        {% endif %}
            <div class="card d-flex w-25" style="background-color: chocolate;">
                <h5 class="p-3 ">Total reviews {{reviews | length}}</h5><br>
                <div class="card-body border m-2">
                  {% for review in reviews %}
                  <p>{{review.name}}</p>
                  <p>{{review.review}}</p>
                  <p>{{review.reviewDate}}</p>
                  {% endfor %}
                </div>
            </div>  
            
        </div>
        
        
    
    
</div>
{% include "footer.html" %}

{% endblock content %}

    